/* Palette colori
Sfondo Pagina - Solitude: rgb(247, 248, 251)
Editorial - Cornflower Blue: rgb(102, 170, 237)
Q1Goals - Medium Purple: rgb(150, 118, 223)
Recruiting - Gulf Stream: rgb(123, 188, 170)
Mobile - Fire Bush: rgb(231, 160, 78)
Website - Hopbush: rgb(203, 106, 158)
Sales - Celery: rgb(180, 199, 78)
*/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Golos Text", sans-serif;
}
/* sezione logo */
header {
    max-height: 100px;
    background-color: white;
}
.logo {
    height: 70px;
    width: 70px;
    background-image: url(../img/Logo.png) ;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    vertical-align: middle;
    margin: 10px 15px ;
}
.head-title {
    display: inline-block;
    font-size: 56px;
    font-weight: 900;
    vertical-align: -15px;
}
/* colore sfondo pagina */
.page-background {
    background-color: rgb(247, 248, 251);
    padding-bottom: 5%;
}
/* contenitore task */
.container {
    height: auto;
    margin: 5% 15% 0% 15%;
    background-color: white;
    padding-bottom: 10%;
}
/* sezione pulsanti */
.new-task {
    background-color: rgb(102, 170, 237);
    color: white;
    padding: 6px 20px;
    border: none;
    margin: 20px 10px 10px 60px;
    border-radius: 4px;
    cursor: pointer;
       
}
.new-section {
    background-color: white;
    color: rgb(183, 183, 183);
    border: 2px solid rgb(183, 183, 183);
    padding: 6px 20px;
    border-radius: 4px;
    cursor: pointer;
}
/* linea divisore sotto pulsanti */
.dividing-line {
    height: 2px;
    background-color: rgb(183, 183, 183);
    margin-bottom: 40px;
}
/* margine sinistro del contenitore */
.section-margin {
    margin-left: 60px;
}
.section-title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
    margin-top: 30px;
    
}
/* sezione tag di ogni task */
.tag-list {
    color: white;
    padding: 5px 15px;
    border-radius: 16px;
    font-size: 12px;
}
.editorial {
    background-color: rgb(102, 170, 237);
}
.editorial::before {
    content: "Editorial" ;
}
.q1-goals {
    background-color: rgb(150, 118, 223);
}
.q1-goals::before {
    content: "Q1 Goals";
}
.recruiting {
    background-color: rgb(123, 188, 170);
}
.recruiting::before {
    content: "Recruiting";
}
.mobile {
    background-color: rgb(231, 160, 78);
}
.mobile::before {
    content: "Mobile";
}
.website {
    background-color: rgb(203, 106, 158);
}
.website::before {
    content: "Website";
}
.sales {
    background-color: rgb(180, 199, 78);
}
.sales::before {
    content: "Sales";
}
/* fine sezione tag di ogni task */
/* triangolo a lato del titolo delle sezioni */
.triangle {
    vertical-align: sub;
}
/* sezione simboli check e cross */
.mark-symbol {
    border-radius: 50%;
    margin-right: 10px;
    padding: 5px;
    font-size: 8px;
    font-weight: 900;
}
.check {
    color: rgb(0, 200, 0);
    border: 2px solid rgb(0, 200, 0);
}
.cross {
    color: red;
    border: 2px solid red;
}
.task {
    font-size: 20px;
    margin-bottom: 15px;
}

