/* Palette colori
Cornflower Blue: rgb(102, 170, 237)
Fire Bush: rgb(231, 160, 78
Gulf Stream: rgb(123, 188, 170)
Medium Purple: rgb(150, 118, 223)
Solitude: rgb(247, 248, 251)
Hopbush: rgb(203, 106, 158)
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Golos Text", sans-serif;
}
header {
    max-height: 100px;
    background-color: white;
}
.logo {
    height: 70px;
    width: 70px;
    background-image: url(../img/Logo.png) ;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    vertical-align: middle;
    margin: 10px 15px ;
}
.head-title {
    display: inline-block;
    font-size: 56px;
    font-weight: 900;
    vertical-align: -15px;
}
.page-background {
    background-color: rgb(247, 248, 251);
    /* margin-bottom: 20px; */
}
footer {
    height: 80px;
    background-color:rgb(247, 248, 251) ;
}
.container {
    height: 800px;
    margin: 50px 200px 0px 200px;
    background-color: white;
}
.new-task {
    background-color: rgb(102, 170, 237);
    color: white;
    padding: 6px 20px;
    border: none;
    margin: 20px 10px 10px 60px;
    border-radius: 4px;    
}
.new-section {
    background-color: white;
    color: rgb(183, 183, 183);
    border: 2px solid rgb(183, 183, 183);
    padding: 6px 20px;
    border-radius: 4px;
}
.dividing-line {
    height: 2px;
    background-color: rgb(183, 183, 183);
    margin-bottom: 40px;
}
.section-margin {
    margin-left: 60px;
}
.section-title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
    margin-top: 30px;
    
}
.tag-list {
    color: white;
    padding: 5px 15px;
    border-radius: 16px;
    font-size: 12px;
}
.editorial {
    background-color: rgb(102, 170, 237);
}
.editorial::before {
    content: "Editorial" ;
}
.q1-goals {
    background-color: rgb(150, 118, 223);
}
.q1-goals::before {
    content: "Q1 Goals";
}
.recruiting {
    background-color: rgb(123, 188, 170);
}
.recruiting::before {
    content: "Recruiting";
}
.mobile {
    background-color: rgb(231, 160, 78);
}
.mobile::before {
    content: "Mobile";
}
.website {
    background-color: rgb(203, 106, 158);
}
.website::before {
    content: "Website";
}
.sales {
    background-color: rgb(180, 199, 78);
}
.sales::before {
    content: "Sales";
}
.triangle {
    vertical-align: sub;
}
.mark-symbol {
    border-radius: 50%;
    margin-right: 10px;
    padding: 5px;
    font-size: 6px;
    font-weight: 900;
}
.check {
    color: rgb(0, 200, 0);
    border: 2px solid rgb(0, 200, 0);
}
.cross {
    color: red;
    border: 2px solid red;
}
.task {
    font-size: 20px;
    margin-bottom: 15px;
}


